In [89]:
import pandas as pd
import numpy as np
from sklearn.model_selection import GridSearchCV
from sklearn.svm import LinearSVC

# Data Collection

In [90]:
training_df = pd.read_csv("../train.csv")
training_df.set_index('Timestamp', inplace=True)
training_df.drop(['Country', 'Ad Topic Line'], axis=1, inplace=True)
training_df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,...,Yemen,Zambia,Zimbabwe,afternoon,evening,morning,night,Ad Line Length,Ad Line Word Length,Clicked on Ad
Timestamp,,,,,,,,,,,,,,,,,,,,,
2016-01-29 00:45:19,-1.003266,-0.475928,-1.074513,-1.369008,0,0,0,0,0,0,...,0,0,0,0,0,0,1,-0.247760,-0.451417,1
2016-01-05 20:58:42,0.838468,0.211953,0.176047,1.637189,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0.629266,3.723539,0
2016-06-18 16:02:34,-1.895712,0.441247,-0.705899,-0.666237,0,0,0,0,0,0,...,0,0,0,1,0,0,0,3.611156,1.636061,1
2016-06-21 00:52:47,0.386877,-0.705222,1.065619,1.014610,0,0,0,0,0,0,...,0,0,0,0,0,0,1,-0.773976,-0.451417,0
2016-04-17 05:08:52,1.199110,1.358422,-0.643565,-1.009855,0,0,0,0,0,0,...,0,0,0,0,0,1,0,-1.475597,-0.451417,1

In [91]:
X = training_df.loc[:, 'Daily Time Spent on Site': 'Ad Line Word Length']
y = training_df['Clicked on Ad']

In [92]:
param_grid = [
    {'C': [0.1, 1, 5, 10]},
]

In [93]:
model = LinearSVC(random_state=42, max_iter=5000)

In [94]:
cv_len = 5

svc_grid_search = GridSearchCV(model, param_grid, cv=cv_len, scoring='accuracy', refit='accuracy')

In [95]:
svc_grid_search.fit(X, y)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=LinearSVC(C=1.0, class_weight=None, dual=True,
                                 fit_intercept=True, intercept_scaling=1,
                                 loss='squared_hinge', max_iter=5000,
                                 multi_class='ovr', penalty='l2',
                                 random_state=42, tol=0.0001, verbose=0),
             iid='warn', n_jobs=None, param_grid=[{'C': [0.1, 1, 5, 10]}],
             pre_dispatch='2*n_jobs', refit='accuracy',
             return_train_score=False, scoring='accuracy', verbose=0)

In [96]:
svc_grid_search.cv_results_

{'mean_fit_time': array([0.00700383, 0.00551257, 0.00774317, 0.01293716]),
 'std_fit_time': array([0.00061663, 0.00083331, 0.00169663, 0.00455383]),
 'mean_score_time': array([0.00271783, 0.00152092, 0.00119991, 0.00120249]),
 'std_score_time': array([7.32740250e-04, 1.87228481e-04, 1.74722921e-05, 2.01186859e-05]),
 'param_C': masked_array(data=[0.1, 1, 5, 10],
              mask=[False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'C': 0.1}, {'C': 1}, {'C': 5}, {'C': 10}],
 'split0_test_score': array([0.9375, 0.95  , 0.95  , 0.95  ]),
 'split1_test_score': array([0.98125, 0.975  , 0.975  , 0.975  ]),
 'split2_test_score': array([0.95625, 0.95625, 0.95   , 0.95   ]),
 'split3_test_score': array([0.96875, 0.95625, 0.9625 , 0.9625 ]),
 'split4_test_score': array([0.975  , 0.975  , 0.9625 , 0.95625]),
 'mean_test_score': array([0.96375, 0.9625 , 0.96   , 0.95875]),
 'std_test_score': array([0.01551209, 0.01045825, 0.00935414, 0.00935414]),
 'rank_test_score': array([1, 2, 3, 4], dtype=int32)}

In [98]:
print('Accuracy' + '\n')

for i in range(cv_len):
    print(f'Split {i}')
    
    for score, param in zip(svc_grid_search.cv_results_[f'split{i}_test_score'], svc_grid_search.cv_results_['params']):
        print(f'{param}: {score}')
    print('\n')

Accuracy

Split 0
{'C': 0.1}: 0.9375
{'C': 1}: 0.95
{'C': 5}: 0.95
{'C': 10}: 0.95


Split 1
{'C': 0.1}: 0.98125
{'C': 1}: 0.975
{'C': 5}: 0.975
{'C': 10}: 0.975


Split 2
{'C': 0.1}: 0.95625
{'C': 1}: 0.95625
{'C': 5}: 0.95
{'C': 10}: 0.95


Split 3
{'C': 0.1}: 0.96875
{'C': 1}: 0.95625
{'C': 5}: 0.9625
{'C': 10}: 0.9625


Split 4
{'C': 0.1}: 0.975
{'C': 1}: 0.975
{'C': 5}: 0.9625
{'C': 10}: 0.95625

In [99]:
svc_grid_search.best_estimator_

LinearSVC(C=0.1, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=5000,
          multi_class='ovr', penalty='l2', random_state=42, tol=0.0001,
          verbose=0)

In [103]:
# svc_grid_search.best_estimator_.coef_