In [515]:
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
from matplotlib import style
style.use('ggplot')
%matplotlib inline
import numpy as np

from sklearn.preprocessing import LabelBinarizer, StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.base import TransformerMixin, BaseEstimator
from sklearn.model_selection import StratifiedShuffleSplit

# Data Inputting

In [516]:
df = pd.read_csv('advertising.csv')
df.drop('City', axis=1, inplace=True)
df.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Male,Country,Timestamp,Clicked on Ad
0,68.95,35,61833.90,256.09,Cloned 5thgeneration orchestration,0,Tunisia,2016-03-27 00:53:11,0
1,80.23,31,68441.85,193.77,Monitored national standardization,1,Nauru,2016-04-04 01:39:02,0
2,69.47,26,59785.94,236.50,Organic bottom-line service-desk,0,San Marino,2016-03-13 20:35:42,0
3,74.15,29,54806.18,245.89,Triple-buffered reciprocal time-frame,1,Italy,2016-01-10 02:31:19,0
4,68.37,35,73889.99,225.58,Robust logistical utilization,0,Iceland,2016-06-03 03:36:18,0

# Data Analysis

In [517]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
Daily Time Spent on Site    1000 non-null float64
Age                         1000 non-null int64
Area Income                 1000 non-null float64
Daily Internet Usage        1000 non-null float64
Ad Topic Line               1000 non-null object
Male                        1000 non-null int64
Country                     1000 non-null object
Timestamp                   1000 non-null object
Clicked on Ad               1000 non-null int64
dtypes: float64(3), int64(3), object(3)
memory usage: 70.4+ KB

In [518]:
df.describe()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Male,Clicked on Ad
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,65.000200,36.009000,55000.000080,180.000100,0.481000,0.50000
std,15.853615,8.785562,13414.634022,43.902339,0.499889,0.50025
min,32.600000,19.000000,13996.500000,104.780000,0.000000,0.00000
25%,51.360000,29.000000,47031.802500,138.830000,0.000000,0.00000
50%,68.215000,35.000000,57012.300000,183.130000,0.000000,0.50000
75%,78.547500,42.000000,65470.635000,218.792500,1.000000,1.00000
max,91.430000,61.000000,79484.800000,269.960000,1.000000,1.00000

In [519]:
df.nunique()

Daily Time Spent on Site     900
Age                           43
Area Income                 1000
Daily Internet Usage         966
Ad Topic Line               1000
Male                           2
Country                      237
Timestamp                   1000
Clicked on Ad                  2
dtype: int64

# Pipelines

In [520]:
class DataFrameSelector(TransformerMixin, BaseEstimator):
    def __init__(self, arr):
        self.arr = arr
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        return X[self.arr].to_numpy()

In [521]:
class MyLabelBinarizer(TransformerMixin, BaseEstimator):
    def __init__(self):
        self.binarizer = LabelBinarizer()
    
    def fit(self, X, y=None):
        self.binarizer.fit(X)
        return self
    
    def transform(self, X, y=None):
        return self.binarizer.transform(X)

In [522]:
class DateConverter(TransformerMixin, BaseEstimator):
    def __init__(self):
        self.date_str_format = "%Y-%m-%d %H:%M:%S"
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X, y=None):
        for row_index in range(len(X)):
            str_datetime = X[row_index][0]
            new_datetime = datetime.strptime(str_datetime, self.date_str_format)
            X[row_index] = new_datetime
            
        return X

In [523]:
nums = list(df.select_dtypes(exclude=['object']).columns)
cats = list(df.select_dtypes(include=['object']).columns)

In [524]:
cats.remove('Ad Topic Line')
cats.remove('Timestamp')

nums.remove('Clicked on Ad')
nums.remove('Male')

date_col = ['Timestamp']

In [525]:
print(f'nums: {nums}')
print(f'cats: {cats}')
print(f'date_col: {date_col}')

nums: ['Daily Time Spent on Site', 'Age', 'Area Income', 'Daily Internet Usage']
cats: ['Country']
date_col: ['Timestamp']

In [526]:
num_pipeline = Pipeline([
    ('data_selector', DataFrameSelector(nums)), 
    ('standard_scaler', StandardScaler())
])

In [527]:
cat_pipeline = Pipeline([
    ('data_selector', DataFrameSelector(cats)), 
    ('label_binarizer', MyLabelBinarizer())
])

In [528]:
date_pipeline = Pipeline([
    ('data_selector', DataFrameSelector(date_col)), 
    ('date_converter', DateConverter())
])

In [529]:
full_pipeline = FeatureUnion(transformer_list=[
    ('num_pipeline', num_pipeline),
    ('cat_pipeline', cat_pipeline),
    ('date_pipeline',date_pipeline)
])

# Data Separation

In [530]:
test_size = 0.2

X = df.loc[:, 'Daily Time Spent on Site': 'Timestamp']
y = df['Clicked on Ad']

In [539]:
# stratified on the 'Clicked on Ad' column for proper distributions

shuffle_split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)

for train_index, test_index in shuffle_split.split(X, y):
    train_set = df.loc[train_index]
    test_set = df.loc[test_index]

# Creating Train and Test CSV files

In [532]:
train_set.head()

,Daily Time Spent on Site,Age,Area Income,Daily Internet Usage,Ad Topic Line,Male,Country,Timestamp,Clicked on Ad
747,49.13,32,41097.17,120.49,Optimized intermediate help-desk,0,Fiji,2016-01-29 00:45:19,1
586,78.29,38,57844.96,252.07,Networked regional Local Area Network,0,Liberia,2016-01-05 20:58:42,0
519,35.00,40,46033.73,151.25,Fully-configurable context-sensitive Graphic I...,1,Mongolia,2016-06-18 16:02:34,1
770,71.14,30,69758.31,224.82,Assimilated stable encryption,0,France,2016-06-21 00:52:47,0
600,84.00,48,46868.53,136.21,Inverse discrete extranet,1,Kyrgyz Republic,2016-04-17 05:08:52,1

In [538]:
# figure out how to fix this

In [533]:
train_cleaned = full_pipeline.fit_transform(train_set)

In [536]:
train_cleaned[0]

array([-1.0032660866110423, -0.47592787676425613, -1.0745131561579582,
       -1.3690083982295653, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       datetime.datetime(2016, 1, 29, 0, 45, 19)], dtype=object)